# **Feature Selection + K-Fold Cross Validation With Nearest Neighbor Algorithm**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seab

## [:+:] Reading the Data

In [3]:
data_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label']

#Read data from the text files and set as a pandas data frame
lilData = pd.read_csv('CS170_Small_Data__19.txt', sep="  ", engine='python', header=None)

#print all the data:
#print(lilData)


#----print just the 'label' column (and indeces):
print("The first 4 entries of the first column: data[colIdx][rowIdx]:")
print(lilData[0][0:5])


print("Matrix Dimensions:")
lil_rowXcol= lilData.shape
print(lil_rowXcol)


print("Data Head:")
print(lilData.head())

print("MetaData: ")
lilData.describe()

The first 4 entries of the first column: data[colIdx][rowIdx]:
0    2.0
1    1.0
2    2.0
3    2.0
4    2.0
Name: 0, dtype: float64
Matrix Dimensions:
(500, 7)
Data Head:
     0         1         2         3         4         5         6
0  2.0 -1.101866 -0.782026  0.552502  0.454685  1.132363  1.135458
1  1.0  0.928979 -0.169694  1.465293 -1.591929  0.144808  0.162709
2  2.0  1.123118 -1.384730 -0.903598  0.692522  0.669263 -0.142156
3  2.0  0.816617 -0.043628  1.026966  0.231013 -0.006551  2.316509
4  2.0 -1.159129 -1.341375  0.459997  0.631261 -1.479455  0.520158
MetaData:

,0,1,2,3,4,5,6
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1.810000,-0.009153,-0.047969,0.128918,0.011137,-0.004393,-0.052208
std,0.392694,0.969701,1.026598,1.025174,1.007239,0.975316,1.002187
min,1.000000,-3.809997,-3.834165,-2.703169,-3.010268,-3.044360,-2.630627
25%,2.000000,-0.688709,-0.706323,-0.535685,-0.685131,-0.692830,-0.710679
50%,2.000000,-0.006327,-0.103258,0.151437,0.026208,0.034870,-0.051862
75%,2.000000,0.657904,0.670926,0.824396,0.673784,0.719694,0.632218
max,2.000000,3.482842,2.748994,3.207545,2.770778,2.981243,2.790655

## Euclidean Distance

In [23]:
# - [ ] Find "default Rate" whatever that is
#  - [ ] Create Minkowski Distance function for two points
# #- [ ] Find nn of a single data point using only one feature
# - [ ] Find nn of every data point using one feature + max accuracy
# - [ ] Find nn of every data point using all features + max accuracy

#My (from-scratch)Function takes in indices of two data points and exponent p, returns the minkowski distance between them based on the four dimensions and the exponent
def minkowski(data,idx1,idx2,ftSet):
    featureSet1= []
    featureSet2= []
    p= len(ftSet)
    sigma= 0
    for ft in ftSet:
        featureSet1.append(data[ft][idx1])
        featureSet2.append(data[ft][idx2])

        sigma+= ((((data[ft][idx1]-data[ft][idx2])**2))**(1/2))  **(p)
        distance= sigma**(1/p)
    return featureSet2


print(minkowski(lilData,1,2,(1,2,3,4,5,6)))

[1.1231183, -1.3847302, -0.90359814, 0.69252208, 0.66926344, -0.14215561]

In [18]:
def numpyLP_Distance(data,idx1,idx2):
    dataPoint1= lilData.loc[idx1][0:6]
    dataPoint2= lilData.loc[idx2][0:6]
    difference = dataPoint1 - dataPoint2
    return  np.linalg.norm(difference)

print(numpyLP_Distance(lilData,1, 2))

3.690449466261803

# Works Cited:


-   https://www.analyticsvidhya.com/blog/2020/02/4-types-of-distance-metrics-in-machine-learning/